#outer_container {
	margin-top: 50px;
}
#svg_container {
	height: 400px;
	width:  800px;
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;
	float: left;
}
#slider-vertical {
	height:400px;
	float: left;
	margin-left: 60px;
	margin-right: 75px;
}
#slider_label {
	float: left;
}
#year {
	border:0; 
	color:#f6931f; 
	font-weight:bold;
}