* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */


#outer_container {
	margin-top: 50px;
}
#svg_container {
	height: 726px;
	width:  800px;
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;
	margin-bottom: 10px;
	float: left;
}
#slider-vertical {
	height:720px;
	float: left;
	margin-left: 60px;
	margin-right: 75px;
}
#output {
	height: 726px;
	width: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	float: left;
	font-family: sans-serif;
	/* margin-top: 10px; */
	/* min-height: 40px; */
	/* max-height: 80px; */
	/* overflow-y: auto; */
}
.year_header {
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-align: -webkit-center;
}
.milestone_opened {
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.milestone_closed {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.milestone_legislative {
	color: green;
	font-size: 18px;
	font-weight: bold;
}
