#outer_container {
	margin-top: 50px;
}
#svg_container {
	height: 726px;
	width:  800px;
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;
	margin-bottom: 10px;
	float: left;
}
#slider-vertical {
	height:720px;
	float: left;
	margin-left: 60px;
	margin-right: 75px;
}
#output {
	width: 800px;
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;
	margin-top: 10px;
	min-height: 40px;
	max-height: 80px;
	overflow-y: auto;
	/* float: left; */
}
.year_header {
	color: black;
	font-weight: bold;
	text-align: -webkit-center
}
.milestone_opened {
	color: black;
	font-weight: bold;
}
.milestone_closed {
	color: red;
	font-weight: bold;
}
.milestone_legislative {
	color: green;
	font-weight: bold;
}
