#outer_container {
	margin-top: 50px;
}
#svg_container {
	height: 726px;
	width:  800px;
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;
	float: left;
}
#slider-vertical {
	height:720px;
	float: left;
	margin-left: 60px;
	margin-right: 75px;
}
